
<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
	<meta charset="utf-8">
    <title>Elegir tipo de documentacion a descargar</title>
</head> 
<body>
<p>Hello, {email}! You're logged in! Email: {email}</p>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Elegir tipo de documentacion a descargar </center></h1>

            <div style="text-align: center;">
            <a class="button" href="/descargarPeticion">Descargar peticion de tema</a>

            <a class="button" href="/descargarTrabajo">Descargar trabajo registrado</a>

</div>

</div>
</div>
</div>
</div>
</body>


<footer>
	<a class="button2" align="center" href="/logout">Logout</a>

</footer>