
<!doctype html>
<head>
	<link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
	<meta charset="utf-8">
    <title>Pulse el botón para subir su trabajo</title>
</head> 
<body>
		 <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
	<h1>Pulse el botón para subir su trabajo</h1>

<div style="text-align: center;">   
	<a class="button" href="/upload">Entregar</a>
</div>


<footer>
           <a class="button2" href="/">Atrás</a>

           </footer>