
<!doctype html>
<head>
	<link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
	<meta charset="utf-8">
    <title>Pulse el botón para subir la memoria de su petición</title>
</head> 
<body>
	 <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
	<h1>Pulse el botón para subir la memoria de su petición</h1>
	<p>Ejemplo de nombre: i62romuc@uco.esPETICION.pdf</p>

        <div style="text-align: center;">    
	<a class="button" href="/uploadPeticion">Entregar</a>

</div>


<footer>
           <a class="button2" href="/">Atrás</a>

           </footer>