<!doctype html>
<head>
    <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
  <meta charset="utf-8">
    <title>Cambiar estado de la comisión</title>

<style type="text/css">
     input[type=submit] {

  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=reset] {

  background-color: #e78c32;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
</style>
</head> 
<body> 

            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Cambiar estado de la comisión </center></h1>
            <h4>Comisión {{titulacion}}</h4>





 <form action="{{ url_for('registrarNuevoEstadoComision') }}" method="post">


                        <input type="radio" id="Activa" name="Activa" value="Activa">
                        <label for="Activa">Activa</label><br>

                        <input type="radio" id="Inactiva" name="Inactiva" value="Inactiva">
                        <label for="Inactiva">Inactiva</label><br>

                        <input type="hidden" name="titulacion" value={{titulacion}}>

                        <p>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                        </p>


                  </form>
