<head>
	<meta charset="utf-8">
    <title>Consulta de trámites</title>
</head>  

<body bgcolor=#e73057> 
	  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/img>
            <h1> <center> Consultar estado de los tramites </center></h1>
            <h2><center>Sólo se encuentra registrada la petición de tema</center></h2>

            <h1> <center> Petición de tema </center></h1>

            <h3>Esta es la petición de tema registrada en el sistema</h3>
            <h3>  Presione el botón para descargar su documento </h3>
             <a href="/return-files/" target="blank"><button class='btn btn-default'>Descargar</button></a>

      


<a class="button" href="/">Atrás</a>


