<head>
	<meta charset="utf-8">
    <title>Consulta de trámites</title>
</head>  

<body bgcolor=#e73057> 
	  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/img>
            <h1> <center> Consultar estado de los trámites </center></h1>

            <h1> <center> Peticiñon de tema </center></h1>

            <h3>Esta es la petición de tema registrada en el sistema</h3>
            <h3>Presione el botón para descargar su documento </h3>
             <a href="/return-files/" target="blank"><button class='btn btn-default'>Descargar</button></a>

             <section>
             	<h1> <center> Trabajo de Fin de Grado </center></h1>
             	<h3>Este es el TFG registrado en el sistema</h3>
            <h3> Presione el botón para descargar su documento </h3>
             <a href="/returnfiles2/" target="blank"><button class='btn btn-default'>Descargar</button></a>
             </section>



<a class="button" href="/">Atrás</a>



