<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
	<meta charset="utf-8">
    <title>Consulta de peticiones de tema asigandas a la comisión</title>
<style>
.table-layout {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    font-family:"Trebuchet MS";
    margin: 0 auto 0;
}
.table-layout td, .table-layout th {
    border: 1px solid grey;
    padding: 5px 5px 0;
}
.table-layout td {
    text-align: left;
}
.selected {
    color: red;
}
</style>
</head>  



<body> 

	  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/img>
            <h1> <center> Consultar peticiones de tema asignadas a la comisión</center></h1>

            <h1> <center> Lista de peticiones de tema </center></h1>


<table id="display-table" class="table-layout">
    <thead>
            <th>ID</th>
            <th>Nombre trabajo</th>
            <th>Nombre alumno</th>
            <th>DNI</th>
            <th>Titulación</th>
            <th>Teléfono Móvil</th>

            <th>Modificación Ampliación</th>

            
            <th>Director 1</th>
            <th>Director 2</th>
            <th>Externo</th>

           
            <th>Estado</th>

            
    </thead>

                  {% for row in peticiones %}
               

                  <tr>
                        
                        <td class="row-data"><a href="/evaluarPeticion/{{row[0]}}">{{row[0]}}</a></td>
                        <td class="row-data">{{row[1]}}</a></td>
                        <td class="row-data">{{row[2]}}</td>
                        <td class="row-data">{{row[3]}}</td>
                        <td class="row-data">{{row[4]}}</td>
                        <td class="row-data">{{row[5]}}</td>
                        <td class="row-data">{{row[8]}}</td>
                        <td class="row-data">{{row[15]}}</td>
                        <td class="row-data">{{row[16]}}</td>
                        <td class="row-data">{{row[17]}}</td>
                        <td class="row-data">{{row[23]}}</td>

                        

                        
                  </tr>
          
                  {% endfor %}
            </table>
      </div>

</body>
</html>

<p>
<a class="button2" href="/">Atrás</a>
</p>


