<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
  <meta charset="utf-8">
    <title>Crear nueva comisión</title>
</head> 

<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<body> 

            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Crear nueva comisión </center></h1>

			<form action="{{ url_for('registrarNuevaComision') }}" method="post">
  				<p>Titulación: <input type="text" name="titulacion" size="40"></p>
  				<p>Profesor1 (email sin @uco.es): <input type="text" name="profesor1" size="230"></p>
          <p>Profesor2 (email sin @uco.es): <input type="text" name="profesor2" size="230"></p>
          <p>Profesor3 (email sin @uco.es): <input type="text" name="profesor3" size="230"></p>
  				<p>Presidente (email sin @uco.es): <input type="text" name="presidente" size="40"></p>
  				
  				<p>
    				<input type="submit" value="Enviar">
    				<input type="reset" value="Borrar">
  				</p>
			</form>
