
<!doctype html>
<head>
	<link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
	<meta charset="utf-8">
    <title>Descarga de documentos</title>
</head> 
<body> 
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>

<div style="text-align: center;">
	 <h1> <center> Presione el boton para descargar su documento </center></h1>

	<a class="button" href="/return-files">Descargar</a>
	


<h1> <center> Peticion registrada, suba el documento de la memoria </center></h1>
		<a class="button" href="/subirMemoria">Subir</a>




</div>


<footer>
           <a class="button2" href="/">Atras</a>

           </footer>