<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
  <meta charset="utf-8">
    <title>Seleccionar titulación para filtrar</title>
</head> 
<body> 
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Seleccionar titulación para filtrar </center></h1>

			<form action="{{ url_for('filtrarTitulacion2') }}" method="post">
  				<select name="titulacion">
            <option selected value="0"> Titulaciones </option>

              <option value="informatica">Grado en Ingeniería Informática</option> 
              <option value="electronicaindustrial">Grado en Ingeniería Electrónica Industrial</option> 
              <option value="electronica">Grado en Ingeniería Electrónica</option> 
              <option value="mecanica">Grado en Ingeniería Mecánica</option>
              <option value="dobleenergiaelectrica">Doble Grado en Ingeniería Energia y Rec. Min e Ing. Electica</option> 
              <option value="masterindustrial">Máster en Ingeniería Industrial</option>  
 
          </select>







  				<p>
    				<input type="submit" value="Enviar">
    				<input type="reset" value="Borrar">
  				</p>
			</form>
