<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
  <meta charset="utf-8">
    <title>Seleccionar profesor para filtrar</title>
</head> 
<body> 
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Seleccionar profesor para filtrar </center></h1>

			<form action="{{ url_for('filtrarProfesor2') }}" method="post">
       
          <label for="nombre">Nombre del director principal:</label>
            <input list="nombres" name="nombre" id="nombre" required>
            <datalist id="nombres">
              {% for row in profesores %}
              <option value={{row[2]}}>{{row[1]}}</option> 
              {% endfor %}
            </datalist>
            <input type="submit">
          </form>