<!doctype html>
<html>
<head>
	<link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
  	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilo.css') }}">
    <title>Iniciar sesión</title>
</head> 
<body>            
            <div style="color: #000099; font-weight: bold" align="center"><a href="https://uco.es"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/> </a>

            <h1> <center> Iniciar sesión o continuar como usuario no registrado </center></h1>
        </div>

<div style="text-align: center;">

<a class="button" href="/login">Google Login</a>
<a class="button" href="/usuarioNoRegistrado">Usuario no registrado</a>
</div>

<div class="footer">
	<p>Trabajo de Fin de Grado de Carlos Romeo Muñoz</p>
</div>
</body>
</html>

