
<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilomenuprincipal.css') }}">
	<meta charset="utf-8">
    <title>Menú de miembro de secretaría</title>
</head> 
<body>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <div style="color: #000099; font-weight: bold" align="center">
            <h1> <center> Menú principal para el miembro de secretaría</center></h1>

          </div>

          <div style="text-align: center;">

            <a class="button" href="/validarPeticiones">Validar peticiones de tema</a>

            <a class="button" href="/validarTFG">Validar TFG</a>

            <a class="button" href="/gestionarComisiones">Gestionar comisiones</a>

            <a class="button" href="/listarTFGTitulacion">Listar TFG por titulación</a>

            <a class="button" href="/listarTFGProfesor">Listar TFG por su director principal</a>

            <a class="button" href="/consultarTribunalesTitulacion">Consultar tribunales por titulación</a>

            <a class="button" href="/consultarTribunalesProfesor">Consultar tribunales por profesor</a>

            <a class="button" href="/crearTribunal">Crear un nuevo tribunal</a>

            <a class="button" href="/modificarTribunal">Modificar tribunal ya existente</a>

            <a class="button" href="/publicarConvocatorias">Publicación de convocatorias</a>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</body>
<footer>
  <a class="button2" align="center" href="/logout">Logout</a>

</footer>