
<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	<meta charset="utf-8">
    <title>Menú usuario no registrado</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilomenuprincipal.css') }}">
</head> 
<body>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%">


        <div style="color: #000099; font-weight: bold" align="center">
            <h1> <center> Menú principal para el usuario no registrado </center></h1>
        </div>

        <div style="text-align: center;">


           <a class="button" href="/filtrado">Consultar trabajos</a>

           <a class="button" href="/consultarTribunalesTitulacion">Consultar tribunales por titulación</a>

           <a class="button" href="consultarTribunalesProfesor">Consultar tribunales en los que participa un profesor</a>

           <a class="button" href="consultarConvocatoriasLectura">Consultar convocatorias de lectura</a>

        </div>


</div>
</div>
</div>
</div>
</body>






<a class="button" href="/">Atrás</a>