<!DOCTYPE html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	 <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilomenuprincipal.css') }}">
	<meta charset="utf-8">
    <title>Menú principal para el profesorado</title>
</head> 
<body>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <div style="color: #000099; font-weight: bold" align="center">
            <h1> <center> Menú principal para el profesorado</center></h1>


            <div style="text-align: center;">

<a class="button" href="/consultarPeticionesdeTema">Consultar y evaluar peticiones de tema asignadas</a>
<a class="button" href="/consultarTrabajosPresentados">Consultar los trabajos presentados</a>



           </div>
       </div>
   </body>
 <footer>
	<a class="button2" align="center" href="/logout">Logout</a>

</footer>