<html>
<head>
<script type="text/javascript">
function redirect()
{
 var count = 10;
 setInterval(function()
 {
  document.getElementById('countdown').innerHTML = "Continuando en "+count+" segundos...";
  if (count == 0) 
  {
   window.location = '/prepararPDF/{{id_file}}'; 
  }
  count--;
 },1000);
}
</script>


  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
  <meta charset="utf-8">
    <title>Registrando petición</title>


</head>
<body>

  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <div style="color: #000099; font-weight: bold" align="center">
            <h1> <center> Registrando petición</center></h1>
        </div>
        <div align="center">
        <p>Pulse el botón y espere unos segundos mientras se registra su petición en el sistema. Guarde el resguardo.</p>
        </div>

<div id="wrapper">
<div id="redirect_div" align="center">
 <a class="button" value="Continuar" href="#" onclick="redirect();">Continuar </a>
 <p id="countdown"></p>
</div>
</div>
 <a class="button" value="Volver" href="/" onclick="redirect();">Volver </a>
</body>
</html>