<!doctype html>
<head>
	<meta charset="utf-8">
    <title>Sugerencias para la petición de tema</title>
</head> 
<body bgcolor=#e73057> 

            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Han sido sugeridas las siguientes modificaciones para su petición: </center></h1>
            <p>{{sugerencias}}</p>

           <a class="button" href="/">Atrás</a>




  <form action="{{ url_for('guardarSugerencias') }}" method="post">
                        <p>Han sido sugeridas las siguientes modificaciones para su peticion:</p> 
                        <p>{{sugerencias}}</p>
                        <select name="Accion">
            			<option selected value="0"> Accion </option>
              			<option value="Aceptar">Aceptar</option> 
              			<option value="Rechazar">Rechar</option> 
              			 
          				</select>

                         

                        <p>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                        </p>


                  </form>