<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">

<div id="banner">
	<div class="inline-block">
		<img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%" >
	</div>

	<div class="inline-block">
		<img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%" >
	</div>	
</div>



	
	
    <title>Seleccionar opcion</title>
</head> 
<body>


           
   
            <h1> <center> Mostrar lista de todos los trabajos o filtrar </center></h1>





<div style="text-align: center;">
            <a class="button" href="/consultarTFG">Consultar todos los trabajos </a>
         	<a class="button" href="/listarTFGProfesor">Filtrar los trabajos por nombre del director principal</a>


</div>


</body>
</html>