
<!doctype html>
<head>
  <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	<meta charset="utf-8">
    <title>Menu de estudiante</title>
</head> 
<body bgcolor="db912f">
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Menú principal </center></h1>


			<form action="/registrarTFG" method="post">
  			<select name="titulacion">
            <option selected value="0"> Titulaciones </option>

              <option value="informatica">Grado en Ingenieria Informatica</option> 
              <option value="electronicaindustrial">Grado en Ingenieria Electronica Industrial</option> 
              <option value="electronica">Grado en Ingenieria Electronica</option> 
              <option value="mecanica">Grado en Ingenieria Mecanica</option>
              <option value="dobleenergiaelectrica">Doble Grado en Ingenieria Energia y Rec. Min e Ing. Electica</option> 
              <option value="masterindustrial">Master en Ingenieria Industrial</option>  
 
          </select>
  				<p>Nombre: <input type="text" name="nombre" size="40"></p>
  				<p>Director 1: <input type="text" name="director1" size="40"></p>
  				<p>Director 2: <input type="text" name="director2" size="40"></p>
  				
  				<p>
    				<input type="submit" value="Enviar">
    				<input type="reset" value="Borrar">
  				</p>
			</form>

<a class="button" href="/">Atras</a>