<!doctype html>
<head>
	<link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
	<meta charset="utf-8">
    <title>Sugerencias rechazadas</title>
</head> 
<body bgcolor=#e73057> 

            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Ha rechazado las sugerencias para su petición de tema </center></h1>

           <a class="button" href="/">Atrás</a>
