<head>
    <link rel="icon" type="image/png" href="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/estilodefecto.css') }}">
	<meta charset="utf-8">
    <title>Validar petición de tema</title>
</head>  


<body> 

	  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/img>
            <h1> <center> Validar petición de tema</center></h1>


           <a class="button" href="/return-files3/{{email}}">Descargar</a>
            
            <h4>{{id}}</h4>


<h2> <left>Introduzca los campos para validar la petición de tema  </left></h2>

                  <form action="{{ url_for('registrarValidacion') }}" method="post">
                    
                    <input type="radio" id="Validada" name="Validada" value="Validada">
                        <label for="Validada">Validada</label><br>

                        <input type="radio" id="NoValidada" name="NoValidada" value="NoValidada">
                        <label for="NoValidada">No validada</label><br>


                        <input type="hidden" name="id" value='{{id}}'>

                        <p>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                        </p>


                  </form>


<a class="button2" href="/">Atrás</a>



