<head>
	<meta charset="utf-8">
    <title>Evaluar peticion de tema</title>
</head>  

<body bgcolor=#e73057> 
      let DNI =  sessionStorage.getItem('DNIPeticion')
	  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/img>
            <h1> <center> Evaluar peticion de tema</center></h1>

            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Presione el boton para descargar su documento </center></h1>

           
            <a href="/return-files/" target="blank"><button class='btn btn-default'>Descargar</button></a>






























<a class="button" href="/">Atras</a>



