
<!doctype html>
<p>Hello, {email}! You're logged in! Email: {email}</p>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Menú principal </center></h1>



           <div align="left"><form action="/peticion"> <input type="submit" value="Presentar petición de tema" /> </form>
           <div align="right"><form action="/consultarPeticion"> <input type="submit" value="Consultar petición de tema" /> </form>
           <div align="left"><form action="/consultarTramites"> <input type="submit" value="Consultar estado trámites" /> </form>
           <div align="right"><form action="/upload"> <input type="submit" value="Entregar TFG/M" /> </form>