
<!doctype html>
<head>
	<meta charset="utf-8">
    <title>Menu usuario no registrado</title>
</head> 
<body bgcolor="db912f">
<p>Hello, {email}! You're logged in! Email: {email}</p>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Menú principal para el usuario no registrado </center></h1>



           <div align="left"><form action="/filtrado"> <input type="submit" value="Consultar trabajos" /> </form>

           <div align="center"><form action="/consultarTribunalesTitulacion"> <input type="submit" value="Consultar tribunales por titulacion" /> </form>

           <div align="right"><form action="/consultarTribunalesProfesor"> <input type="submit" value="Consultar tribunales en los que participa un profesor" /> </form>


</div>
</div>
</div>
</div>
</body>






<a class="button" href="/">Atras</a>