
<!doctype html>
<head>
	<meta charset="utf-8">
    <title>Modificacion de los datos de una comision</title>
</head> 
<body bgcolor="db912f">
<p>Hello, {email}! You're logged in! Email: {email}</p>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Modificacion de los datos de una comision </center></h1>

             <h2> <center> Modificacion de los de {{ID}}</center></h2>



           <div align="left"><form action="/cambiarEstadoComision/{{ID}}"> <input type="submit" value="Cambiar el estado de la comision" /> </form>

<!--
           	<div align="left"><form action="/modificarProfesoresComision/{{ID}}"> <input type="submit" value="Dar de alta/baja un profesor en la comision" /> </form>



-->




           		<div align="right"><form action="{{ url_for ('modificarProfesoresComision') }}" method="post"> <input type="submit" value="Gestionar comisiones" /> 
           	<input id="ID" type="hidden" name="ID" value={{ID}}>
           </form>


  
        
        