
<!doctype html>
<head>
	<meta charset="utf-8">
    <title>Seleccionar opcion</title>
</head> 
<body bgcolor="db912f">
<p>Hello, {email}! You're logged in! Email: {email}</p>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Mostrar lista de todos los trabajos o filtrar </center></h1>



           <div align="left"><form action="/consultarTFG"> <input type="submit" value="Consultar todos los trabajos" /> </form>

           	<div align="right"><form action="/listarTFGProfesor"> <input type="submit" value="Filtrar los trabajos por nombre del director principal" /> </form>







