
<!doctype html>
<head>
	<meta charset="utf-8">
    <title>Menu de estudiante</title>
</head> 
<body bgcolor="db912f">
<p>Hello, {email}! You're logged in! Email: {email}</p>
            
            <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"</img>
            <h1> <center> Menú principal </center></h1>



      




			<form action="/registrarTFG" method="post">
  			<select name="titulacion">
            <option selected value="0"> Titulaciones </option>
            <optgroup label="EPSC"> 
              <option value="informatica">I. Informatica</option> 
              <option value="industrial">I. Industrial</option> 
              <option value="electronica">I. Electronica</option> 
            </optgroup> 
            <optgroup label="ETSIAM"> 
              <option value="veterinaria">Veterinaria</option> 
              <option value="medicina">Medicina</option> 
              <option value="enfermeria">Enfermeria</option> 
            </optgroup> 
          </select>
  				<p>Nombre: <input type="text" name="nombre" size="40"></p>
  				<p>Director 1: <input type="text" name="director1" size="40"></p>
  				<p>Director 2: <input type="text" name="director2" size="40"></p>
  				
  				<p>
    				<input type="submit" value="Enviar">
    				<input type="reset" value="Borrar">
  				</p>
			</form>

<a class="button" href="/">Atras</a>