<head>
	<meta charset="utf-8">
    <title>Validar peticion de tema</title>
</head>  


<body bgcolor=#e73057> 

	  <div align="left"><img src="https://www.uco.es/investigacion/proyectos/SEBASENet/images/Logo_UCO.png" style="width: 5%"/img>
            <h1> <center> Validar peticion de tema</center></h1>


           
            <a href="/return-files3/{{email}}" target="blank"><button class='btn btn-default'>Descargar</button></a>
            <h4>{{id}}</h4>



<!--
<script>
highlight_row();
function highlight_row() {

    //alert(localStorage["DNI"]);
    //String dni = localStorage["DNI"]
    //document.cookie="DNIEscogido="+ encodeURIComponent(dni);
    //alert(document.cookie);
}
</script>

-->

<h2> <left>Introduzca los campos para validar la peticion de tema  </left></h2>

                  <form action="{{ url_for('registrarValidacion') }}" method="post">
                    
                    <input type="radio" id="Validada" name="Validada" value="Validada">
                        <label for="Validada">Validada</label><br>

                        <input type="radio" id="NoValidada" name="NoValidada" value="NoValidada">
                        <label for="NoValidada">No validada</label><br>


                  

                        <input type="text" size="70" name="id" value={{id}}>

                        <p>
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                        </p>


                  </form>





















<a class="button" href="/">Atras</a>



